* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 150ms linear;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: #4e8bff;
	display: flex;
	align-items: center;
	justify-content: center;
}
